{% extends 'base.html' %}

{% block title %}About{% endblock %}


{% block content %}
<body class="about-page">
<h2 class="centered-block">
    My Background
</h2>
<p class="multiline">
    Welcome to my python portfolio!



    After achieving my Bachelor's of Science in Biology at the University of Florida in the spring of 2024, I decided to explore a career in Bioinformatics. This path led me to take initiative and try to begin this journey by enrolling in my first programming language course. This has allowed me to be confident in my decision to move forward in the computer science world.



    In the fall of 2024 I completed the Udemy 100 Days of Code online python course and received my python certification. I am excited to have a platform through this website that allows me to share my final course projects. I made all projects uploaded here and this website from scratch and while these tasks and the course as a whole were time-consuming and challenging at times, it is extremely rewarding to be able to present my work and reflect on my experience. Over the last several months I have not only gained knowledge of the python coding language but strengthened my skills in time management, using my resources, analytical thinking, and had probably too many chances to practice my patience!




    Fun Fact: Blue is my favorite color if you couldn't tell from this design :)


</p>
</body>
<!-- Add more content as needed -->
{% endblock %}

