{% extends 'base.html' %}

{% block title %}Home{% endblock %}


{% block content %}
<body class="index-page">
<div class="text-center">
    <h1 class="main-title">Python Project Portfolio</h1>
    <p class="subtitle">Showcasing my projects and skills in the python programming language.</p>
    <img src="{{ url_for('static', filename='/assets/cover_photo.jpeg') }}" alt="Profile Picture" class="rounded-circle" width="200">
</div>

<hr>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6">
            <h3 class="main-title">Morse Code Converter</h3>
            <p class="subtitle">Takes a text input including numbers, symbols, and spaces allowing for multiple words. The output is your text converted into morse code.</p>
            <img src="{{ url_for('static', filename='/assets/project1.jpeg') }}" class="img-fluid">
            <a class="project-link" href="https://github.com/ellie-winer/MorseCode-Portfolio1">GitHub Link</a>
        </div>
        <div class="col-md-6">
            <h3 class="main-title">Portfolio Website</h3>
            <p class="subtitle">This website to display my personal projects. Each project is shown with a description, image, and a link to the code on my GitHub.</p>
            <img src="{{ url_for('static', filename='/assets/project2.jpeg') }}" class="img-fluid">
            <a class="project-link" href="https://github.com/ellie-winer/PortfolioWebsite-Portfolio2">GitHub Link</a>
        </div>
        <div class="col-md-6">
            <h3 class="main-title">Tic Tac Toe</h3>
            <p class="subtitle">You can play against another person or the computer. Players alternate choosing which position on the grid to place their X or O until all places are filled and final results are announced. The updated grid is printed after each turn. </p>
            <img src="{{ url_for('static', filename='/assets/project3.jpeg') }}" class="img-fluid">
            <a class="project-link" href="https://github.com/ellie-winer/TicTacToe-Portfolio3">GitHub Link</a>
        </div>
        <div class="col-md-6">
            <h3 class="main-title">Watermark Application</h3>
            <p class="subtitle">Adds the shown watermark image and takes an input as watermark text to any image you want. All you need to do is add your image to the application and input the filename.</p>
            <img src="{{ url_for('static', filename='/assets/project4.jpeg') }}" class="img-fluid">
            <a class="project-link" href="https://github.com/ellie-winer/Watermark-Portfolio4">GitHub Link</a>
        </div>
        <div class="col-md-6">
            <h3 class="main-title">Typing Speed Test</h3>
            <p class="subtitle">After pressing the start button sentences will continually form until 60 seconds has passed. The user can type the sentences as quickly as they can into the text box and after the timer is finished the amount of correct words typed is displayed. </p>
            <img src="{{ url_for('static', filename='/assets/project5.jpeg') }}" class="img-fluid">
            <a class="project-link" href="https://github.com/ellie-winer/TypingTest-Portfolio5">GitHub Link</a>
        </div>
        <div class="col-md-6">
            <h3 class="main-title">Breakout Game</h3>
            <p class="subtitle">Fully functional and personally designed Breakout Game where the goal is to bounce the ball off the controller until all the bricks have been hit. Score and highscore are recorded and controller moves left and right using keyboard arrow keys. Option to play again upon losing or winning! </p>
            <img src="{{ url_for('static', filename='/assets/project6.jpeg') }}" class="img-fluid">
            <a class="project-link" href="https://github.com/ellie-winer/BreakoutGame-Portfolio6">GitHub Link</a>
        </div>
        <div class="col-md-6">
          <h3 class="main-title">Cafe and Wifi Website</h3>
          <p class="subtitle">A website where you can see cafes and their information. Users can register an account and login to add new cafes to the site or edit existing ones. </p>
          <img src="{{ url_for('static', filename='/assets/project7.jpeg') }}" class="img-fluid">
          <a class="project-link" href="https://github.com/ellie-winer/CafeandWifiWebsite-Portfolio7">GitHub Link</a>
          <a class="website-link" href="https://elliewinercafeandwifi.onrender.com/">Website Link</a>
        </div>
        <div class="col-md-6">
          <h3 class="main-title">Todo List Website</h3>
          <p class="subtitle">A website where you can add items on your todo list with the option to add a due date and time. Check off items and watch them move from upcoming to completed. Register an account and login to continually update your list and check your progress. </p>
          <img src="{{ url_for('static', filename='/assets/project8.jpeg') }}" class="img-fluid">
          <a class="project-link" href="https://github.com/ellie-winer/TodoList-Portfolio8">GitHub Link</a>
          <a class="website-link" href="https://elliewinertodolist.onrender.com">Website Link</a>
        </div>
        <div class="col-md-6">
            <h3 class="main-title">Disappearing Text Application</h3>
            <p class="subtitle">A tool commonly used for writers block, type whatever you want into the text box. However, you must keep typing because after 10 seconds of no keys being pressed all that was written is deleted. </p>
            <img src="{{ url_for('static', filename='/assets/project9.jpeg') }}" class="img-fluid">
            <a class="project-link" href="https://github.com/ellie-winer/DisappearingText-Portfolio9">GitHub Link</a>
        </div>
        <div class="col-md-6">
            <h3 class="main-title">PDF to Audiobook</h3>
            <p class="subtitle">This script converts any uploaded pdf into an audio mp3 file. When you open and play the audio file you will hear your text in your pdf read aloud like an audiobook. </p>
            <img src="{{ url_for('static', filename='/assets/project10.jpeg') }}" class="img-fluid">
            <a class="project-link" href="https://github.com/ellie-winer/TexttoSpeech-Portfolio10">GitHub Link</a>
        </div>
        <div class="col-md-6">
            <h3 class="main-title">Image Color Palette Generator</h3>
            <p class="subtitle">A website where you can upload an image and press analyze to see the top 10 most common colors in your image. Your image is displayed next to a data table with the results from the color analysis. </p>
            <img src="{{ url_for('static', filename='/assets/project11.jpeg') }}" class="img-fluid">
            <a class="project-link" href="https://github.com/ellie-winer/ImageColorPaletteGenerator-Portfolio11">GitHub Link</a>
            <a class="website-link" href="https://elliewinerimagetocolor.onrender.com">Website Link</a>
        </div>
        <div class="col-md-6">
            <h3 class="main-title">Custom Web Scraper</h3>
            <p class="subtitle">Two custom web scraper applications that configure data from nba top 5 teams and players and compare it against statistical parameters in a csv table. One accounts for the 2023-24 fixed season data and one changes daily with preseason data.</p>
            <img src="{{ url_for('static', filename='/assets/project12.jpeg') }}" class="img-fluid">
            <a class="project-link" href="https://github.com/ellie-winer/CustomWebScraper-Portfolio12">GitHub Link</a>
        </div>
         <div class="col-md-6">
            <h3 class="main-title">Google Dinosaur Game</h3>
            <p class="subtitle">My custom version of the Google Dinosaur Game where the player (dinosaur) jumps over and avoids obstacles (cacti and pterodactyls). The background moves in this automation while the character remains in the same place as it appears to be running.</p>
            <img src="{{ url_for('static', filename='/assets/project13.jpeg') }}" class="img-fluid">
            <a class="project-link" href="https://github.com/ellie-winer/GoogleDino_Portfolio13">GitHub Link</a>
        </div>
        <div class="col-md-6">
            <h3 class="main-title">Space Invaders Game</h3>
            <p class="subtitle">A customized version of the classic game Space Invaders. Player must shoot all aliens to win. Players have 3 lives total and lose a life when hit by an alien bullet. The game is over if all lives are lost or the aliens reach the player.</p>
            <img src="{{ url_for('static', filename='/assets/project14.jpeg') }}" class="img-fluid">
            <a class="project-link" href="https://github.com/ellie-winer/SpaceInvaders-Portfolio14">GitHub Link</a>
        </div>
        <div class="col-md-6">
            <h3 class="main-title">Custom API Football Data Website</h3>
            <p class="subtitle">A custom api website where you can see the champions league matches and data. You are able to search for a team name or matchday to see all games related to your search. Data used is from football-data.org.</p>
            <img src="{{ url_for('static', filename='/assets/project15.jpeg') }}" class="img-fluid">
            <a class="project-link" href="https://github.com/ellie-winer/CustomAPIWebsite-Portfolio15">GitHub Link</a>
            <a class="website-link" href="https://elliewinerapifbdata.onrender.com/">Website Link</a>
        </div>
        <div class="col-md-6">
            <h3 class="main-title">Data Science - Analyze & Visualize Space Race</h3>
            <p class="subtitle">Demonstrated data science skills such as data exploration, data cleaning, and data visualization in google colab notebook using provided Space Race dataset. Dataset was manipulated, analyzed, and turned into many chart forms to provide insight.</p>
            <img src="{{ url_for('static', filename='/assets/project18.jpeg') }}" class="img-fluid">
            <a class="project-link" href="https://github.com/ellie-winer/AnalyzeandVisualizeSpaceRace-Portfolio18">GitHub Link</a>
        </div>
        <div class="col-md-6">
            <h3 class="main-title">Data Science - Analyze & Visualize US Deaths involving Police</h3>
            <p class="subtitle">Demonstrated data science skills such as data exploration, data cleaning, and data visualization in google colab notebook using provided Washington Post dataset. Dataset was manipulated, analyzed, and turned into many chart forms to provide analysis and comparisons of many factors.</p>
            <img src="{{ url_for('static', filename='/assets/project19.jpeg') }}" class="img-fluid">
            <a class="project-link" href="https://github.com/ellie-winer/AnalyzeUSDeaths-Portfolio19">GitHub Link</a>
        </div>
    </div>
</div>
</body>
{% endblock %}
  



